<section>
    <div class="title-container">
        <h2>OUR MENU</h2>
    </div>
    <div class="menu-card-container">
        <div class="menu-card-dish-1 pb-56">
            <div class="img-name-price">
                <img src="./../../../assets/img/R1.png">
                <div class="name-price">
                    <div class="name"><span>Tonkotsu Ramen</span></div>
                    <table class="price">
                        <tbody>
                            <tr>
                                <td class="left-cell">CHICKEN</td>
                                <td class="right-cell">11,95€</td>
                            </tr>
                            <tr>
                                <td>BEEF</td>
                                <td>12,95€</td>
                            </tr>
                            <tr>
                                <td>SHRIMP</td>
                                <td>13,95€</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="menu-card-dish-2 pb-56">
            <div class="img-name-price">
                <div class="name-price">
                    <div class="name"><span>Spicy Miso Ramen</span></div>
                    <table class="price">
                        <tbody>
                            <tr>
                                <td class="left-cell">CHICKEN</td>
                                <td class="right-cell">11,95€</td>
                            </tr>
                            <tr>
                                <td>BEEF</td>
                                <td>12,95€</td>
                            </tr>
                            <tr>
                                <td>SHRIMP</td>
                                <td>13,95€</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <img src="./../../../assets/img/R2.png">
            </div>
        </div>
        <div class="menu-card-dish-3">
            <div class="img-name-price">
                <img src="./../../../assets/img/R3.png">
                <div class="name-price">
                    <div class="name"><span>Shio Ramen</span></div>
                    <table class="price">
                        <tbody>
                            <tr>
                                <td class="left-cell">CHICKEN</td>
                                <td class="right-cell">11,95€</td>
                            </tr>
                            <tr>
                                <td>BEEF</td>
                                <td>12,95€</td>
                            </tr>
                            <tr>
                                <td>SHRIMP</td>
                                <td>13,95€</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>